@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: px;
}
body{
    background-color: #F9FBFC;
    margin: 0;
    height: 100vh; /* Ocupa toda a altura da viewport */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
.container{
    background-color: #FFFFFF;
    height: fit-content;
    border-radius: 20px;
    width: 400px;
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.container h1{
    color: #2C3844;
}
.container h2{
    color: #457db591;
    font-size: 16px;
}
.img{
    width: 200px;
    border-radius: 100px;
    border: solid 1px #2c3844a8;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}


.media-container{
    /* Disposição */
    display: flex; 
    flex-direction: row;
    min-width: 150px;

    /* Alinhamento e espaçamento*/
    align-items: center;
    gap: 10px;

    /* Estilização */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.media-container:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.media-container h2{
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
}


.fa-linkedin-in, .fa-github, .fa-envelope, .fa-laptop-code{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3844;
    width: 14px;
    height: 14px;
    color: #F9FBFC;
    font-size: 20px;
    padding: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 20px;
    text-decoration: none;
}

